<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>구구단</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
  <div id="root">
    <!-- <div>끝말잇기</div>
    <br>
    <div>{{word}}</div>
    <form v-on:submit="onSubmitForm">
      <input type="text" v-model="value" ref="answer">
      <button type="submit">입력</button>
    </form>
    <div>{{result}}</div> -->
    <word-relay start-word="유상무"></word-relay>
    <word-relay start-word="초밥"></word-relay>
    <word-relay start-word="바보"></word-relay>
  </div>
  <script>
    //컴포넌트는 인스턴스보다는 위에!
    //스크립트는 div#root보다는 아래에!
    Vue.component("word-relay", {
      template:

        ` 
      <div>
        <div>끝말잇기</div>
        <br>
        <div>{{word}}</div>
        <form v-on:submit="onSubmitForm">
          <input type="text" v-model="value" ref="answer">
          <button type="submit">입력</button>
        </form>
        <div>{{result}}</div>
      </div>
      `,
      //컴포넌트에서는 데이터를 함수로 만들어줘야한다
      props: ['start-word'],
      data() {
        return {
          word: this.startWord,
          result: '',
          value: ''
        }
      },
      methods: {
        onSubmitForm(e) {
          e.preventDefault();
          if (this.word[this.word.length - 1] === this.value[0]) {
            this.result = '정답!';
            this.word = this.value;
          } else {
            this.result = '땡!!!!!!';
          }
          this.value = '';
          this.$refs.answer.focus();
        }
      }
    });
  </script>
  <script>
    const app = new Vue({
      el: '#root'
    });
  </script>

</body>

</html>